
services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:2.20.2
    restart: always
    ports:
      - "9443:9443"
      - "8000:8000"
    volumes:
      - /home/chengwei1/docker/portainer/data:/data
      - /var/run/docker.sock:/var/run/docker.sock