version: "3.9"

services:
  filebrowser:
    image: filebrowser/filebrowser
    container_name: filebrowser
    ports:
      - "8080:80"
    volumes:
      - /mnt/photo-folder:/srv
    restart: unless-stopped